@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* colors */
  --main-dark: #111;
  --main-light: #fafafa;
  --font-gray: #a4a8ac;
  --font-light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-dark);
  font-size: 0.875rem;
}

p {
  color: var(--font-gray);
}

body {
  display: flex;
  height: 100vh;
}

/***** SIDEBAR *****/
.sidebar {
  flex: 1;
  background-color: var(--main-dark);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.sidebar > a {
  font-size: 1.5rem;
  color: var(--font-light);
  font-weight: 500;
}

.sidebar .side-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar .side-nav .item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar .side-nav .item a {
  color: var(--font-gray);
  transition: all 0.3s ease;
}

.sidebar .side-nav .item i {
  font-size: 1.25rem;
  color: var(--font-gray);
  transition: all 0.3s ease;
}

/* active links */
.sidebar .side-nav .item.active {
  background: var(--main-light);
}

.sidebar .side-nav .item.active a,
.sidebar .side-nav .item.active i {
  color: var(--main-dark);
  font-weight: bold;
}

.sidebar .side-profile {
  background: var(--main-light);
  padding: 14px 10px;
  border-radius: 10px;
}

.sidebar .side-profile .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .side-profile .info img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar .side-profile .info a {
  font-weight: bold;
  margin-top: 8px;
}

.sidebar .side-profile .info p {
  font-size: 0.75rem;
  color: #666869;
  margin: 6px 0 25px;
}

/* .sidebar .side-profile .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.sidebar .side-profile .skills .skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  /* margin-left: 10px; */
  margin-top: 10px;
}

.sidebar .side-profile .skills .skill-tags .item {
  padding: 6px;
  background: #e7e7e7;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
}

.sidebar .side-profile button {
  margin-top: 16px;
  width: 100%;
  border: none;
  padding: 10px;
  background: var(--main-dark);
  color: var(--main-light);
  border-radius: 10px;
  cursor: pointer;
}

/* MAIN CONTAINER */
.container {
  flex: 8;
  padding: 20px 40px 20px 24px;
}

/****** TOPBAR NAVIGATION *******/
.container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.container .nav .search,
.container .nav .location {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 10px;
}

.container .nav .search input,
.container .nav .location input {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: transparent;
  padding-left: 36px;
}

.container .nav .search i,
.container .nav .location i {
  position: absolute;
  font-size: 1.5rem;
  padding: 6px;
  color: #666869;
}

.container .nav > button {
  background: var(--main-dark);
  color: var(--main-light);
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 8px;
}

.container .nav > button#menuToggle {
  display: flex;
  padding: 6px;
  font-size: 1.375px;
  display: none;
}

.container .nav .user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .nav .user-container > i {
  font-size: 20px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.container .nav .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .nav .user-info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.container .nav .user-info a {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.container .nav .user-info a i {
  font-size: 1.2rem;
}

.container .nav .user-info p {
  font-size: 13px;
}

/****** JOB LIST CARDS *******/

.container .main {
  display: flex;
}

.container .main .content {
  flex: 9;
}

.container .main .content .header {
  margin-top: 20px;
}

.container .main .content .header h4 span {
  font-size: 13px;
  color: #a4a8ac;
  font-weight: 500;
}

.container .main .content .header p {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
}

.container .main .content .job-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.container .main .content .job-cards .card {
  padding: 12px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.container .main .content .job-cards .card:hover {
  box-shadow: none;
}

.container .main .content .job-cards .card .card-header {
  display: flex;
  justify-content: space-between;
}

.container .main .content .job-cards .card .card-header > i {
  font-size: 24px;
  color: #a4a8ac;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container .main .content .job-cards .card .card-header > i:hover {
  color: #111;
}

.container .main .content .job-cards .card .card-header .job-info {
  display: flex;
  gap: 10px;
}

.container .main .content .job-cards .card .card-header .job-info i {
  font-size: 34px;
  background: #f2f2f2;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .main .content .job-cards .card .card-header .job-info h5 {
  font-weight: 500;
}

.container .main .content .job-cards .card .card-header .job-info h5 span {
  font-size: 12px;
  color: #a4a8ac;
}

.container .main .content .job-cards .card .card-header .job-info a {
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.container .main .content .job-cards .card .card-header .job-info p {
  font-size: 12px;
}

.container .main .content .job-cards .card .card-tags {
  margin: 12px 0;
  display: flex;
  gap: 10px;
}

.container .main .content .job-cards .card .card-tags a {
  font-size: 13px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.container .main .content .job-cards .card .card-tags a:hover {
  background-color: var(--main-dark);
  color: var(--font-light);
}

.container .main .content .job-cards .card .card-desc {
  font-size: 14px;
  color: #a4a8ac;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: calc(20px * 3);
}

/****** JOB FILTERS *******/

.container .main .filters {
  flex: 2;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .main .filters .header {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .main .filters .header a,
.container .main .filters .item .title a {
  font-size: 13px;
  color: #ca3844;
  font-weight: bold;
}

.container .main .filters .item .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.container .main .filters .item .checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.container .main .filters .item .checkbox div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container .main .filters .item .checkbox input[type="checkbox"] {
  width: 14px;
  height: 14px;
  accent-color: #111;
  cursor: pointer;
}

.container .main .filters .item .checkbox label {
  font-size: 15px;
  font-weight: 500;
  color: #a4a8ac;
}

.container .main .filters .item .checkbox p {
  font-size: 14px;
  font-weight: 500;
}

.container .main .filters .item .location {
  background: #f2f2f2;
  margin: 14px 0;
  padding: 12px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.container .main .filters .item .location input[type="text"] {
  width: 100%;
  padding-left: 24px;
  background: transparent;
  border: none;
}

.container .main .filters .item .location i {
  position: absolute;
  font-size: 18px;
  color: #a4a8ac;
}
